.order-header-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding: 1em 2em;
	gap: 1em;

	.table-header {
		background-color: #DCDFCF;
	}

	.table-column {
		width: 40%;
	}

	.table-column:first-child {
		width: 30%;
	}

	.table-cell-pending {
		color: #FFA500;
	}

	.table-cell-confirmed {
		color: #397968;
	}

	.checkbox {
		color: #FAA43F;
	}

	@media screen and (max-width: $breakpoint-sm) {
		.table-header {
			display: none;
		}
	}
}
