.order-header-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;

	@media screen and (max-width: $breakpoint-sm) {
		flex-direction: column;
	}

	.input{
		@media screen and (max-width: $breakpoint-sm) {
			width: 100%;
		}
	}
}


